
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.layout {
  height: 100vh;
  width: 100vw;
  background-color: lightblue;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 10vh  5vh 1fr 1fr;
}
#title-banner {
  background-color: whitesmoke;
  padding-top: 3vh;
  text-align: center;
  width: 100vw;
  grid-column-start: 1;
  grid-column-end: 4;
  position: relative;
  border: 2px solid;
  z-index: 1;
}
#date-conatiner{
  text-align: center;
  padding-top: 1vh;
  width: 100vw;
  grid-column-start: 1;
  grid-column-end: 4;
  border: 2px solid;
  background: whitesmoke;
  z-index: 1;
}

.divider {
  text-align: center;
}
 /* - - - - - - - - - - - - - - - - - - - - */
 /* BLOG SECTION */
.blog-container {
    position: relative;
    width: 33vw;
    /* border: 2px solid; */
    background-color: whitesmoke;
    grid-row-start: 3;
    grid-row-end: 5;
    display: grid;
    grid-template-rows: auto;
}

.blog-title {
   text-align: center;
   border-top: 2px solid;
   border-left: 2px solid;
   border-bottom: 4px solid;
   background-color: whitesmoke;
   padding-top: 1vh;
   height: 3vh;
   z-index: 1;
}
.tumblr-view {
    height: 100vh;
    position: relative;
    top: -21vh;
    height: 100vh;
    width: 34vw;
    margin-left: -1.8vw;
}

/* - - - - - - - - - - - - - - - - - - - - */
/* ARCHIVE SECTION */
.archive-container {
  position: relative;
  width: 33vw;
  border: 2px solid;
  background-color: whitesmoke;
  grid-row-start: 3;
  grid-row-end: 5;
  z-index: 1;
}

.archive-title {
  text-align: center;
  border-bottom: 4px solid;
  padding-top: 1vh;
  height: 3vh;
}

.archive-scroll{
  height: 79vh;
  overflow: scroll;
  position: relative;
}

.archive-article {

}

.article-title {
    text-align: center;
    padding-top: 1vh;
    padding-bottom: 1vh;
}
.article-blurb {
    text-align: justify;
    margin-left: 1vh;
    margin-right: 1vh;
}
/* - - - - - - - - - - - - - - - - - - - - */
/* BIO SECTION */
.bio-container {
  position: relative;
  width: 33.15vw;
  border: 2px solid;
  background-color: whitesmoke;
  grid-row-start: 3;
  grid-row-end: 5;
  z-index: 1;
}
.bio-header {
  text-align: center;
  border-bottom: 4px solid;
  padding-top: 1vh;
  height: 3vh;
}
.bio-scroll {
  height: 79vh;
  overflow: scroll;
  position: relative;
}

.bio-title {
  text-align: center;
  position: relative;
  top: 1vh;
  margin-bottom: 2vh;
}

#bio-image {
  position: relative;
  width: 15vw;
  left: 1vw;
  top: 1vh;
  margin-right: 1vw;
  padding-right: 1vw;
  padding-bottom: 2vh;
}
.bio-text{
  text-align: justify;
  margin-left: 1vw;
  margin-right: 1vw;
}
