
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)

/* CSS RESET DONT TOUCH */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*END of --> CSS RESET DONT TOUCH */


.layout {
	position: fixed;
	height: 97.8vh;
  width: 98.8vw;
	border: 8px solid black;
  background-color: blue;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 10vh  5vh 1fr 1fr;

}
#title-banner {
  font-family: 'UnifrakturMaguntia', cursive;
  font-size: 3.2em;
  background-color: whitesmoke;
  padding-top: 1.8vh;
  text-align: center;
	width: 98vw;
  border-left: 0.111em solid;
  border-right: 0.111em solid;
  grid-column-start: 1;
  grid-column-end: 4;
  position: relative;
  border-bottom: 2px solid;

}

.sub-header {
	position: relative;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-row-start: 2;
	grid-column-start: 1;
	grid-column-end: 4;
	/* background-color: #f71100; */
}

#date-header{
  font-family: 'Public Sans', sans-serif;
  text-align: center;
  padding-top: 1vh;
  width: 98vw;
	height: 3.4vh;
	grid-row-start: 1;
  grid-column-start: 1;
  grid-column-end: 4;
	border-left: 0.35em solid;
  border-right: 0.31em solid;
	border-top: 2px solid;
  border-bottom: 2px solid;
  background: whitesmoke;
}
#email-link {
	grid-row-start: 1;
	grid-column-start: 3;
	position: relative;
	left: 21.2vw;
	top: 0.5vw;
}
#email-icon {
	width: 2.5em;
}
#twitter-link {
	grid-row-start: 1;
  grid-column-start: 3;
  position: relative;
  display: block;
  top: 1vh;
  left: 28vw;
}

#twitter-icon {
  width: 40px;
  height: 1.2em;
  z-index: 1;
  position: relative;
  /* top: -83.2vh;
  left: 92vw; */
}
#insta-icon {
  width: 1.3em;
  height: 1.3em;
  position: relative;
  z-index: 1;
	grid-row-start: 2;
	grid-column-start: 3:
}
#insta-link {
	display: block;
  grid-row-start: 1;
  grid-column-start: 3;
	position: relative;
  top: 1vh;
	left: 25.7vw;
}

 /* - - - - - - - - - - - - - - - - - - - - */
 /* BLOG SECTION */
.blog-container {
    position: relative;
    width: 33vw;
		height: 82.3vh;
    margin-left: 0.01em;
    border-left: 0.3em solid;
    border-top: 2px solid;
		border-bottom: 2px solid;
    border-right: 0.3em solid;
    background-color: whitesmoke;
    grid-row-start: 3;
    grid-row-end: 5;
    /* display: grid;
    grid-template-rows: auto; */
}

.blog-title {
   font-family: 'Public Sans', sans-serif;
   text-align: center;
	 border-top: 1px;
   border-bottom: 4px solid;
   background-color: whitesmoke;
   padding-top: 1vh;
   height: 3.3vh;

}
.blog-scroll{
	background-color: yellow;
	position: relative;
  height: 77.4vh;
  width: 33vw;
  overflow: scroll;
}
.dana-title {
	text-align: center;
  font-weight: bold;
  position: relative;
  top: 1vh;
  margin-bottom: 2vh;
}
.dana-text{
	text-align: justify;
  margin-left: 1vw;
  margin-right: 1vw;
}
.dana-image {
	width: 30vw;
  margin: 1.5vw;
}
.dana-list{
	margin: 3.5vw;
}
.dana-listItem{
	list-style: disc;
}
/* END of -->  BLOG SECTION */
/* - - - - - - - - - - - - - - - - - - - - */

/* ARCHIVE SECTION */
.archive-container {
  position: relative;
  width: 33vw;
	height: 82.3vh;
  border: 2px solid;
  background-color: whitesmoke;
  grid-row-start: 3;
  grid-row-end: 5;
}

.archive-title {
  text-align: center;
  border-bottom: 4px solid;
  padding-top: 1vh;
  height: 3.3vh;
}

.archive-scroll{
  height: 79vh;
  overflow: scroll;
  position: relative;
}

.archive-article {

}

.article-title {
    text-align: center;
    font-weight: bold;
    padding-top: 1vh;
    padding-bottom: 1vh;
}
.article-blurb {
    text-align: justify;
    margin-left: 1vh;
    margin-right: 1vh;
}

/* END of -->  ARCHIVE SECTION */
/* - - - - - - - - - - - - - - - - - - - - */

/* TEXT FORMATING STYLES */
.divider {
  text-align: center;
}
.italicize {
    font-style: italic;
}
/* TEXT FORMATING STYLES */
/* - - - - - - - - - - - - - - - - - - - - */

/* BIO SECTION */
.bio-container {
    position: relative;
    width: 31.1vw;
		height: 82.3vh;
    border-top: 2px solid;
    border-left: 0.3em solid;;
    border-right: 6px solid;
    background-color: whitesmoke;
    grid-row-start: 3;
    grid-row-end: 5;
		overflow: scroll;
}
.bio-header {
  font-family: 'Public Sans', sans-serif;
  text-align: center;
  border-bottom: 4px solid;
  padding-top: 1vh;
  height: 3.3vh;
}
.bio-scroll {
  height: 79vh;
  overflow: scroll;
  position: relative;
}

.bio-title {
  text-align: center;
  font-weight: bold;
  position: relative;
  top: 1vh;
  margin-bottom: 2vh;
}

#bio-image {
  position: relative;
  width: 8vw;
  left: 1vw;
  top: 1vh;
  margin-right: 1vw;
  padding-right: 1vw;
  padding-bottom: 2vh;
}
.bio-text{
  text-align: justify;
  margin-left: 1vw;
  margin-right: 1vw;
}
.video-container {
  align-content: center;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2vh;
  width: 25vw;
}
.bio-details {
  width: 29vw;
  margin-left: auto;
  margin-right: auto;
}
.writing-list {
  list-style: none;
}
.writing-list li:before {
   content: "\2192";
}
.list-item {
  margin-top: 1.5vw;
}
.writing-link{
	padding-left: 1vw;
}
/* END of -->  BIO SECTION */
